.films-header {
  font-size: 14pt;
  font-weight: bold;
  margin-right: 15px;
}

.all-films {
  margin-top: 10px;
}

.btn-and-title {
  display: flex;
  padding: 5px;
}

.light {
  background-color: rgb(75, 75, 75);
}

.film-btn {
  flex: 1
}

.film-text {
  font-size: 11pt;
  flex: 2;
  margin-top: 8px;
  margin-left: 10px;
}

@media (max-width: 500px) {
  .btn-and-title {
    text-align: center;
    display: block;
  }

  .film-btn {
    margin-top: 10px;
  }

  .film-text {
    margin-left: 0px;
  }

  .sort-btns {
    text-align: center;
  }
}