.btn {
  outline: 0;
  margin: 5px 15px 5px 5px;
  text-decoration: none;
  cursor: pointer;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-size: 10pt;
  background-color: gray;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: rgb(104, 102, 102);
}