.char-flex-container {
  display: flex;
}

.char-flex-item-pic {
  flex: 1;
}

.char-flex-item-films {
  flex: 2;
}

.link-spacing {
  text-align: center;
  margin: 20px;
}

@media (max-width: 500px) {
  .char-flex-container {
    display: block;
  }
}