.film-flex-container {
  display: flex;
  margin-top: 20px;
  background-color: gray;
  padding: 20px;
  border-radius: 10px;
  color: black;
}

.film-title {
  font-weight: bold;
  font-size: 20pt;
}

.film-release {
  font-size: 16pt;
}

.film-crawl {
  font-size: 12pt;
  margin-top: 20px;
}

.film-poster {
  height: 300px;
  width: auto;
  margin-right: 20px;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  box-shadow: 0px 0px 10px black;
}

.film-flex-item-image {
  flex: 1;
}

.film-flex-item-text {
  flex: 3;
}

@media (max-width: 500px) {
  .film-flex-container {
    display: block;
  }

  .film-flex-item-image {
    text-align: center;
  }
}